* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 255, 255, 0.6);
    font-size: 8vmin;
    color: #00ff9d;
    background-color: #2d2d2d; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 2rem rgba(0, 255, 255, 1);
}

#reset-btn, #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #00ff9d; 
    color: #0f0f0f;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#reset-btn:hover, #new-btn:hover {
    background-color: #00f2ff; 
    box-shadow: 0 0 1rem rgba(0, 255, 255, 0.8);
}

#msg-btn {
    color: #00ff9d; 
    font-size: 5vmin;
    text-shadow: 0 0 1rem rgba(0, 255, 255, 0.6);
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

#msg {
    font-size: 5vmin;
    color: #00ff9d; 
    text-shadow: 0 0 1rem rgba(0, 255, 255, 0.6);
}
